body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #109abd, #0808c4);
    color: #333;
}

.login {
    max-width: 300px;
    margin-bottom: 5vh; /* Reduz a margem inferior para dispositivos móveis */
}

.container {
    display: flex;
    width: 95%; /* Aumenta a largura para melhor aproveitamento em telas menores */
    max-width: 1200px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left-section {
    width: 100%; /* Ocupa toda a largura em telas menores */
    background: linear-gradient(135deg, #109abd, #0808c4);
    color: white;
    padding: 30px; /* Reduz o padding para dispositivos móveis */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centraliza os elementos em telas menores */
}

.right-section {
    width: 100%; /* Ocupa toda a largura em telas menores */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box, .cadastro-box {
    width: 100%;
    padding: 20px; /* Reduz o padding para dispositivos móveis */
    text-align: center;
}

.login-box h2, .cadastro-box h2 {
    color: #131314;
    margin-bottom: 15px; /* Reduz a margem inferior para dispositivos móveis */
    font-size: 1.8em; /* Ajusta o tamanho da fonte para melhor legibilidade */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-group {
    position: relative;
    margin-bottom: 10px; /* Reduz a margem inferior para dispositivos móveis */
}

.input-wrapper {
    position: relative;
}

.input-wrapper input[type="email"],
.input-wrapper input[type="password"] {
    width: calc(100% - 22px);
    padding: 8px; /* Reduz o padding para dispositivos móveis */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em; /* Ajusta o tamanho da fonte para melhor legibilidade */
}

.input-wrapper .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #555;
}

.login-box button, .cadastro-box button {
    background-color: #1e0ff1;
    color: white;
    padding: 10px 18px; /* Reduz o padding para dispositivos móveis */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1em; /* Ajusta o tamanho da fonte para melhor legibilidade */
}

.login-box button:hover, .cadastro-box button:hover {
    background-color: #2c07e2;
}

.login-box p, .cadastro-box p {
    margin-top: 15px; /* Reduz a margem superior para dispositivos móveis */
    font-size: 0.9em; /* Ajusta o tamanho da fonte para melhor legibilidade */
}

.login-box a, .cadastro-box a {
    color: #230bf9;
    text-decoration: none;
}

.login-box a:hover, .cadastro-box a:hover {
    text-decoration: underline;
}

.logo {
    max-width: 80%; /* Ajusta o tamanho da logo para dispositivos móveis */
    margin-bottom: 20px; /* Reduz a margem inferior para dispositivos móveis */
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .left-section h1 {
        font-size: 1.8em; /* Reduz o tamanho da fonte para telas menores */
        text-align: center;
    }

    .left-section h2 {
        font-size: 1.1em; /* Reduz o tamanho da fonte para telas menores */
        text-align: center;
    }

    .left-section p {
        font-size: 0.8em; /* Reduz o tamanho da fonte para telas menores */
    }

    .logo {
        max-width: 90%; /* Ajusta o tamanho da logo para telas menores */
    }
}